### Experiments with Mongoengine methods

In [1]:
from dexter.DB import DB, Account, Entry, Transaction, RegExp, Document, Tag

from datetime import date, datetime, timedelta

In [2]:
DB.init()

In [3]:
DB.open('pytest')

In [4]:
for t in Transaction.objects(description__contains='Home'):
    print(t)

In [5]:
Transaction.objects(description__contains='Home').update(set__description='House')

0

In [6]:
for t in Transaction.objects(description__contains='House'):
    print(t)

<Tr 2024-03-10 liabilities:chase:visa -> expenses:home:household $50.0 House []>
<Tr 2024-03-12 expenses:home:household -> liabilities:chase:visa $25.0 House []>

In [7]:
Transaction.objects(description__contains='House').update(push__tags='#foo')

2

In [8]:
for t in Transaction.objects(description__contains='House'):
    print(t)

<Tr 2024-03-10 liabilities:chase:visa -> expenses:home:household $50.0 House ['#foo']>
<Tr 2024-03-12 expenses:home:household -> liabilities:chase:visa $25.0 House ['#foo']>

In [9]:
Transaction.objects(description__contains='House').update(pull__tags='#foo')

2

In [10]:
for t in Transaction.objects(description__contains='House'):
    print(t)

<Tr 2024-03-10 liabilities:chase:visa -> expenses:home:household $50.0 House []>
<Tr 2024-03-12 expenses:home:household -> liabilities:chase:visa $25.0 House []>

In [11]:
for e in DB.select(Entry, tag='budget'):
    print(e)

<En 2024-01-02 income:yoyodyne +$5000.0 ['#budget']>
<En 2024-01-02 expenses:food -$500.0 ['#budget']>
<En 2024-01-02 expenses:home -$2500.0 ['#budget']>
<En 2024-01-02 expenses:car -$1000.0 ['#budget']>
<En 2024-01-02 expenses:travel -$500.0 ['#budget']>
<En 2024-01-02 equity -$500.0 ['#budget']>
<En 2024-02-02 income:yoyodyne +$5000.0 ['#budget']>
<En 2024-02-02 expenses:food -$500.0 ['#budget']>
<En 2024-02-02 expenses:home -$2500.0 ['#budget']>
<En 2024-02-02 expenses:car -$1000.0 ['#budget']>
<En 2024-02-02 expenses:travel -$500.0 ['#budget']>
<En 2024-02-02 equity -$500.0 ['#budget']>

In [21]:
lst = list(DB.select(Entry, tag='budget'))

In [22]:
e = lst[0]

In [23]:
e.tags

['#budget']

In [24]:
e.update(pull__tags='#budget')

1

In [25]:
e

In [26]:
e.reload()

In [27]:
lst

[<Entry: <En 2024-01-02 expenses:food -$500.0 []>>,
 <Entry: <En 2024-01-02 expenses:home -$2500.0 ['#budget']>>,
 <Entry: <En 2024-01-02 expenses:car -$1000.0 ['#budget']>>,
 <Entry: <En 2024-01-02 expenses:travel -$500.0 ['#budget']>>,
 <Entry: <En 2024-01-02 equity -$500.0 ['#budget']>>,
 <Entry: <En 2024-02-02 income:yoyodyne +$5000.0 ['#budget']>>,
 <Entry: <En 2024-02-02 expenses:food -$500.0 ['#budget']>>,
 <Entry: <En 2024-02-02 expenses:home -$2500.0 ['#budget']>>,
 <Entry: <En 2024-02-02 expenses:car -$1000.0 ['#budget']>>,
 <Entry: <En 2024-02-02 expenses:travel -$500.0 ['#budget']>>,
 <Entry: <En 2024-02-02 equity -$500.0 ['#budget']>>]

In [28]:
for x in lst:
    print(x)

<En 2024-01-02 expenses:food -$500.0 []>
<En 2024-01-02 expenses:home -$2500.0 ['#budget']>
<En 2024-01-02 expenses:car -$1000.0 ['#budget']>
<En 2024-01-02 expenses:travel -$500.0 ['#budget']>
<En 2024-01-02 equity -$500.0 ['#budget']>
<En 2024-02-02 income:yoyodyne +$5000.0 ['#budget']>
<En 2024-02-02 expenses:food -$500.0 ['#budget']>
<En 2024-02-02 expenses:home -$2500.0 ['#budget']>
<En 2024-02-02 expenses:car -$1000.0 ['#budget']>
<En 2024-02-02 expenses:travel -$500.0 ['#budget']>
<En 2024-02-02 equity -$500.0 ['#budget']>